.data {
    display: flex;
    flex-direction: column;
}

.select,
.input {
    margin-top: 10px;
}

.error,
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 280px;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
